body {
  font-family: Quicksand, sans-serif;
}

img {
  object-fit: cover;
  width: 100%;
  max-height: 320px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2 {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

h3 {
  font-weight: 600;
}

button,
label {
  font-family: Quicksand, sans-serif;
  font-weight: 600;
}

input {
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

label,
input {
  display: block;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

textarea {
  display: block;
  width: 100%;
  resize: none;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.row-reverse {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.padding-top {
  padding-top: 0.5rem;
}

.blue-bg {
  background-color: #6b96db;
  color: white;
}

.save-btn {
  background-color: #6b96db;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.new-btn {
  background-color: #6b96db;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.5rem;
  font-weight: 500;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
}

.justify-content {
  justify-content: space-between;
  display: flex;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.flex {
  display: flex;
  align-items: baseline;
}

.entries-btn {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
}

.align-center {
  text-align: center;
}

.delete-btn,
.red-txt {
  color: red;
}

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.modal-container {
  height: 150px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255);
  border-radius: 0.25rem;
}

.modal-text {
  color: black;
  text-align: center;
  padding-top: 0.5rem;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.cancel-btn {
  background: #b6b6b6;
  border-radius: 0.25rem;
  border: 2px solid #b6b6b6;
  font-size: 1rem;
  color: black;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
}

.confirm-btn {
  background: #dc2626;
  border-radius: 0.25rem;
  border: 2px solid #dc2626;
  font-size: 1rem;
  color: white;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
}
